.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rs-drawer-header {
  background-color: #4a2568 !important; /* Tailwind bg-purple-800 */
}

.rs-btn.rs-btn-primary {
  background-color: #9333ea !important; /* Tailwind bg-purple-600 */
  border-color: #9333ea !important;
}
